In [111]:
import pandas as pd

In [112]:
dataframe = pd.read_csv('data/Admission_Predict.csv')
dataframe.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [113]:
dataframe.shape

(400, 9)

In [114]:
dataframe.dtypes

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [115]:
missing = dataframe.isnull().sum()
missing

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [116]:
# a coluna  'Chance of Admit ' tem um espaço
dataframe.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [117]:
dataframe.drop('Serial No.', axis=1, inplace=True)
dataframe.tail()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,324,110,3,3.5,3.5,9.04,1,0.82
396,325,107,3,3.0,3.5,9.11,1,0.84
397,330,116,4,5.0,4.5,9.45,1,0.91
398,312,103,3,3.5,4.0,8.78,0,0.67
399,333,117,4,5.0,4.0,9.66,1,0.95

In [118]:
y = dataframe['Chance of Admit ']
x = dataframe.drop('Chance of Admit ', axis=1)

In [119]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=45)

In [120]:
def regression_models(x_train, x_test, y_train, y_test):
    from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet

    # Criação dos modelos
    reg = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()

    # Treinamento dos modelos
    reg.fit(x_train, y_train)
    ridge.fit(x_train, y_train)
    lasso.fit(x_train, y_train)
    elastic.fit(x_train, y_train)

    # Avaliação dos modelos no conjunto de teste
    reg_result = reg.score(x_test, y_test)
    ridge_result = ridge.score(x_test, y_test)
    lasso_result = lasso.score(x_test, y_test)
    elastic_result = elastic.score(x_test, y_test)

    # Criação do dicionário com os resultados
    dictionary_models = {
        'LinearRegression': reg_result,
        'Ridge': ridge_result,
        'Lasso': lasso_result,
        'ElasticNet': elastic_result
    }

    # Identificação do melhor modelo
    best_model = max(dictionary_models, key=dictionary_models.get)

    print(f'Linear: {reg_result}\nRidge: {ridge_result}\nLasso: {lasso_result}\nElasticnet: {elastic_result}')
    print(f'\nO melhor modelo foi o: {best_model} com o valor de: {dictionary_models[best_model]}')

    #return dictionary_models

In [121]:
regression_models(x_train, x_test, y_train, y_test)

Linear: 0.8093428763333979
Ridge: 0.8085345281885276
Lasso: 0.2855728845758697
Elasticnet: 0.5647447563640624

O melhor modelo foi o: LinearRegression com o valor de: 0.8093428763333979