In [1]:
import pandas as pd
df = pd.read_csv('data/Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [2]:
df = df.drop('Serial No.', axis=1)

In [3]:
x = df.drop('Chance of Admit ', axis=1)
y = df['Chance of Admit ']

In [4]:
def get_model_list():
    from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet

    return {
        'Linear': LinearRegression(),
        'Ridge': Ridge(),
        'Lasso': Lasso(),
        'ElasticNet': ElasticNet()
    }

In [5]:
def multi_model_kfold(x, y, n_splits):
    from sklearn.model_selection import cross_val_score, KFold

    models = get_model_list()
    result = {}
    for name, model in models.items():
        result[name] = (cross_val_score(model, x, y, cv=KFold(n_splits=n_splits))).mean()

    print('The best is: ', r := max(result, key=result.get), result[r], '\n')
    return print('\n'.join(f'{name} - {result[name]}' for name in result))

In [6]:
multi_model_kfold(x, y, 10)

The best is:  Ridge 0.77057254829287

Linear - 0.7703825020879943
Ridge - 0.77057254829287
Lasso - 0.1827727619979103
ElasticNet - 0.4962376743697495