In [6]:
import pandas as  pd

In [7]:
dataframe = pd.read_csv('data/Admission_Predict.csv')
dataframe.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [8]:
dataframe.drop('Serial No.', axis=1, inplace=True)
dataframe.tail()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,324,110,3,3.5,3.5,9.04,1,0.82
396,325,107,3,3.0,3.5,9.11,1,0.84
397,330,116,4,5.0,4.5,9.45,1,0.91
398,312,103,3,3.5,4.0,8.78,0,0.67
399,333,117,4,5.0,4.0,9.66,1,0.95

In [9]:
y = dataframe['Chance of Admit ']
x = dataframe.drop('Chance of Admit ', axis=1)

In [10]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

In [12]:
model = LinearRegression()
kfold = KFold(n_splits=5)
result = cross_val_score(model, x, y, cv=kfold)
result.mean()

0.7711794121066358