In [58]:
import pandas as pd

df = pd.read_csv('data/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [59]:
df = df.drop(['id', 'date', 'long', 'lat', 'zipcode'], axis=1)

In [60]:
x = df.drop('price', axis=1)
y = df['price']

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNet

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=14)

model = ElasticNet(alpha=1, tol=0.2, max_iter=5000, l1_ratio=0.9)
model.fit(x_train, y_train)
result = model.score(x_test, y_test)
result

0.6429961330013111

In [23]:
def inicializar_modelos():
    from sklearn.linear_model import LinearRegression,Ridge,Lasso, ElasticNet
    modelos = {
        'linear': LinearRegression(),
        'ridge': Ridge(),
        'lasso': Lasso(),
        'elasticnet': ElasticNet()
    }
    return modelos

In [93]:
def test_models(x, y, test_zise, random_state):
    from sklearn.model_selection import train_test_split
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=test_zise, random_state=random_state)

    modelos_inicializados = inicializar_modelos()
    results = {}
    for nome, model in modelos_inicializados.items():
        model.fit(x_train, y_train)
        results[nome] = model.score(x_test, y_test)

    resultados_ordenados = sorted(results.items(), key=lambda x: x[1], reverse=True)
    print('The best is: ', best_model := max(results, key=results.get), results[best_model] )
    '''
    results.items():

Esse método retorna uma visão dos pares chave-valor do dicionário results. O resultado é um iterável de tuplas, onde cada tupla contém uma chave (nome do modelo) e um valor (pontuação do modelo). Por exemplo:
python
Copy code
[('linear', 0.8), ('ridge', 0.85), ('lasso', 0.75)]
sorted(...):

A função sorted() é usada para ordenar iteráveis. Ela aceita um iterável (neste caso, a lista de tuplas gerada por results.items()) e retorna uma nova lista com os elementos ordenados.
key=lambda x: x[1]:

O parâmetro key permite especificar uma função que determina o critério de ordenação.
lambda x: x[1] é uma função anônima que recebe um argumento x (que representa cada tupla) e retorna o segundo elemento dessa tupla (x[1]). Como as tuplas têm a forma (nome_do_modelo, pontuacao), x[1] é a pontuação.
Isso significa que a ordenação será feita com base nas pontuações dos modelos.
reverse=True:

Este parâmetro indica que a lista deve ser ordenada em ordem decrescente. Sem esse parâmetro, a ordenação seria em ordem crescente (do menor para o maior).
    '''
    return [f'{chave}: {valor}' for chave, valor in resultados_ordenados]

In [67]:
test_models(x, y, 0.30, 14)

c:\Users\Ewerton\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.329e+14, tolerance: 2.093e+11
  model = cd_fast.enet_coordinate_descent(
c:\Users\Ewerton\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.280e+14, tolerance: 2.093e+11
  model = cd_fast.enet_coordinate_descent(

['ridge: 0.6539029726255621',
 'lasso: 0.6538117156908521',
 'linear: 0.6538094196281063',
 'elasticnet: 0.624113485893988']

In [71]:
df_test = pd.read_csv('data/Admission_Predict.csv')
df_test.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [72]:
df_test.shape

(400, 9)

In [73]:
df_test = df_test.drop('Serial No.', axis=1)

In [78]:
df_test.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [82]:
df_test.isnull().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [84]:
df_test.dtypes

GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [80]:
x = df_test.drop('Chance of Admit ', axis=1)
y = df_test['Chance of Admit ']

In [94]:
test_models(x, y, 0.30, 45)

The best is:  linear 0.809342876333398

['linear: 0.809342876333398',
 'ridge: 0.8085345281885277',
 'elasticnet: 0.5647447563640624',
 'lasso: 0.2855728845758695']